<!DOCTYPE html>
<html>
  <head>
    <title>TimeToAnser</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
  <h1>Users Backoffice </h1>
    <%= yield %>
  </body>
</html>
